.goldcolor {
  color: #ffd700;
}
.whitecolor {
  color: #f7f7f7;
}
.flag {
  width: 50px;
  height: 25px;
  background-size: cover;
  display: inline-block;
}
.ita {
  background-image: url('https://cdn.pixabay.com/photo/2013/07/13/12/51/flag-160485_960_720.png');
}
.uk {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/2000px-Flag_of_the_United_Kingdom.svg.png');
}
.fr {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/280px-Flag_of_France.svg.png');
}
.de {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/2000px-Flag_of_Germany.svg.png');
}
.ru {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/archive/f/f3/20120812153730%21Flag_of_Russia.svg');
}
.es {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png');
}
.china {
  background-image: url('https://cdn.britannica.com/90/7490-004-415899A0.jpg');
}
.ja {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1280px-Flag_of_Japan.svg.png');
}
.nl {
  background-image: url('http://flags.fmcdn.net/data/flags/w580/nl.png');
}
